@page "/Talleres"
<h3>Talleres</h3>
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<div class="card dcard">
    <div class="card-body px-1 px-md-3">

        <form autocomplete="off">
            <div class="d-flex justify-content-between flex-column flex-sm-row mb-3 px-2 px-sm-0">
                <h3 class="text-125 pl-1 mb-3 mb-sm-0 text-secondary-d4">
                    Listado de Talleres
                </h3>

                <div class="mb-2 mb-sm-0">
                    <button type="button" class="btn btn-secondary px-3 d-block w-100 text-95 radius-round border-2 brc-black-tp10" @onclick="MostrarModalDeAgregar">
                        <i class="fa fa-plus mr-1"></i>
                        Agregar <span class="d-sm-none d-md-inline">Talleres</span>
                    </button>
                </div>
            </div>

            @if (ListaTaller == null)
            {
                <p><em>Cargando Listado De Talleres...</em></p>
            }
            else
            {
                <table id="simple-table" class="mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">
                    <thead class="text-dark-tp3 bgc-grey-l4 text-90 border-b-1 brc-transparent">
                        <tr>
                            <th>Cedula Juridica</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                        </tr>
                    </thead>

                    <tbody class="mt-1">

                        @foreach (var Talleres in ListaTaller)
                        {
                            <tr class="bgc-h-yellow-l4 d-style">
                                <td class="text-600 text-dark">@Talleres.CedulaJuridica</td>
                                <td class="text-600 text-dark-d2">@Talleres.Nombre</td>
                                <td class="d-none d-sm-table-cell text-grey-d1">@Talleres.Direccion</td>
                                <td class="text-600 text-dark">@Talleres.Telefono</td>

                                <td>
                                    <div class="d-none d-lg-flex">

                                        <button type="button" class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-success btn-a-lighter-success" @*@onclick="() => MostrarModalDeActualizar(Aula.NumeroAula)" *@>
                                            <i class="fa fa-pencil-alt"></i>
                                        </button>

                                        <button type="button" class="mx-2px btn radius-1 border-2 btn-xs btn-brc-tp btn-light-secondary btn-h-lighter-danger btn-a-lighter-danger" @*@onclick="() => MostrarModalDeEliminar(Aula.NumeroAula)" *@>
                                            <i class="fa fa-trash-alt"></i>
                                        </button>


                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </form>
    </div>
</div>

<div class="modal fade" id="ModalEdicionDeTaller" tabindex="-1" role="dialog" aria-labelledby="LabelEdicionDeTaller" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary-d3" id="LabelEdicionDeTaller">
                    @(AccionDeEdicion + " " + "Talleres")
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <EditForm Model="@TalleresModel" OnValidSubmit="@GuardarTaller">

                <DataAnnotationsValidator />

                <div class="modal-body">

                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label text-sm-right pr-0">
                            <label for="CedulaJuridica" class="mb-0">Cedula Juridica</label>
                        </div>

                        <div class="col-sm-8">
                            <InputText id="CedulaJuridica" @bind-Value="@TalleresModel.CedulaJuridica" disabled="@(AccionDeEdicion == "Actualizar" ? true : false)"
                                       class="form-control col-sm-12 col-md-12" placeholder="Ingrese número de Cedula Juridica" />
                            <ValidationMessage For="() => TalleresModel.CedulaJuridica" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label text-sm-right pr-0">
                            <label for="Nombre" class="mb-0">Nombre</label>
                        </div>

                        <div class="col-sm-8">
                            <InputText id="Nombre" @bind-Value="@TalleresModel.Nombre"
                                       class="form-control col-sm-12 col-md-12" placeholder="Ingrese Nombre" />
                            <ValidationMessage For="() => TalleresModel.Nombre" />
                        </div>
                    </div>




                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label text-sm-right pr-0">
                            <label for="Direccion" class="mb-0">Direccion</label>
                        </div>

                        <div class="col-sm-8">
                            <InputText id="Direccion" @bind-Value="@TalleresModel.Direccion"
                                       class="form-control col-sm-12 col-md-12" placeholder="Ingrese Direccion" />
                            <ValidationMessage For="() => TalleresModel.Direccion" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-form-label text-sm-right pr-0">
                            <label for="Telefono" class="mb-0">Telefono</label>
                        </div>

                        <div class="col-sm-8">
                            <InputText id="Telefono" @bind-Value="@TalleresModel.Telefono"
                                       class="form-control col-sm-12 col-md-12" placeholder="Ingrese el Telefono" />
                            <ValidationMessage For="() => TalleresModel.Telefono" />
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary px-4">Guardar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private TalleresDto[] ListaTaller;

    private TalleresDto TalleresModel = new();

    private string AccionDeEdicion;

    private string TallerUpdate;

    private string UtlHost = "https://localhost:44373/api";

    protected override async Task OnInitializedAsync() //Esto es lo primero que se ejecutará
    {
        await ObtenerTalleres(); //con solo llamar a este método, ya se puede cargar la lista de aulas a nivel de la vista
    }

    private async Task ObtenerTalleres()
    {
        ListaTaller = await Http.GetFromJsonAsync<TalleresDto[]>($"{UtlHost}/Talleres");
    }

    private async Task ObtenerTallerPorId(string CodigoTaller)
    {
        TalleresModel = await Http.GetFromJsonAsync<TalleresDto>($"{UtlHost}/Talleres/{CodigoTaller}");

    }

    private async Task MostrarModalDeAgregar()
    {

        AccionDeEdicion = "Agregar";

        TalleresModel = new();

        await JSRuntime.InvokeAsync<object>("global.openModal", "ModalEdicionDeTaller");


    }

    private async Task MostrarModalDeActualizar(string CodigoTaller)
    {

        AccionDeEdicion = "Actualizar";

        await ObtenerTallerPorId(CodigoTaller);

        TallerUpdate = CodigoTaller;

        await JSRuntime.InvokeAsync<object>("global.openModal", "ModalEdicionDeTaller");

    }

    private async Task GuardarTaller()
    {
        if (AccionDeEdicion == "Agregar")
        {
            await AgregarTalleres();
            TalleresModel = new();
        }
        else
        {
            await ActualizarTalleres();
        }
    }

    private async Task AgregarTalleres()
    {
        var Talleres = TalleresModel;

        using var response = await Http.PostAsJsonAsync($"{UtlHost}/Talleres", Talleres);

        if (response.IsSuccessStatusCode)
        {
            await JSRuntime.InvokeAsync<object>("global.closeModal", "ModalEdicionDeTalleres");

            await ObtenerTalleres();

            await JSRuntime.InvokeAsync<object>("global.mostrarAlertaExito", "Taller agregado correctamente");

        }
        else
        {
            string errorMessage = response.ReasonPhrase;
            Console.WriteLine($"Error: {errorMessage}");

            await JSRuntime.InvokeAsync<object>("global.mostrarAlertaError", "No se pudo agregar el Taller ");

        }
    }

    private async Task ActualizarTalleres()
    {
        var Talleres = TalleresModel;

        using var response = await Http.PutAsJsonAsync($"{UtlHost}/Talleres/{TallerUpdate}", Talleres);

        if (response.IsSuccessStatusCode) //si todo sale bien con el llamado al API
        {
            await JSRuntime.InvokeAsync<object>("global.closeModal", "ModalEdicionDeTaller");

            await ObtenerTalleres();

            await JSRuntime.InvokeAsync<object>("global.mostrarAlertaExito", "Taller actualizado correctamente");
        }
        else
        {
            string errorMessage = response.ReasonPhrase;
            Console.WriteLine($"Error: {errorMessage}");

            await JSRuntime.InvokeAsync<object>("global.mostrarAlertaError", "No se pudo actualizar el Taller ");

        }
    }
}